@{
    // Dichiara una variabile valorizzandola con il tuo nome e una con il tuo cognome. 
    // Stampare in nostro nome e cognome all'interno di un tag h2
    string name = "Agostino";
    string surname = "Piqué";
}

<div class="text-center">
    <h2>@name @surname</h2>
</div>