@{
    Layout = null;
    ViewData["Title"] = "Pizza home Page";
    string[] pizzas = ["Magherita", "Marinara", "Napoli", "Wurstel", "Salamino piccante", "Maialona"];
    string[] descriptions = ["Pizza con pomodoro, mozzarella e basilico", "Pizza con pomodoro, olio e aglio", "Pizza napoletana", "pizza con pomodoro", "mozzarella e wurtel", "Pizza con pomodoro, mozzarella e salamino piccante", "Pizza margherita con wurstel, salsiccia, salamino picccante"];
    string[] prices = ["5", "4", "6,50", "6", "6", ""]
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
